@import url('reset.css');

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Medium.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Black.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html, body {
	height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* font-size */
.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fz-32 {
    font-size: 32px;
}

.fz-48 {
    font-size: 48px;
}
/* wrapper */
.wrapper {
    display: flex;
	flex-flow: column nowrap;
	height: 100%;
}

.wrapper a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header */
.header {
    max-width: 100%;
    background: #020509;
    padding: 40px 0;
    text-transform: uppercase;
}

.list {
    display: flex;
    gap: 42px;
    font-size: 0;
}

.list > li a {
    display: inline-block;
    color: #D4DDE1;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.list > li a.active {
    color: #FF0038;
}

.list > li a:hover {
    color: #FF0038;
}

.logo {
    font-weight: 900;
    letter-spacing: 8px;
    color: #D4DDE1;
}

/* content */
.content-design {
    background: rgba(255, 206, 56, 0.05);
}

.box-content {
    max-width: 540px;
    padding-top: 155px;
    padding-bottom: 180px;
}

.box-content > .box, h2 {
    margin-bottom: 30px;
}

h2 {
    color: #020509;
    font-weight: 900;
}

.box {
    color: #727272;
    font-weight: 400;
    line-height: 26px;
}

button {
    background: #FFCE38;
    border-radius: 4px;
    padding: 20px 35px;
    cursor: pointer;
    border: 0;
    font-weight: 400;
    text-align: center;
    color: #020509;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

/* about */
.content-about, .content-how {
    background: rgba(0, 207, 250, 0.05);
}

.box-about {
    text-align: center;
    margin: 0 auto;
    max-width: 540px;
    padding-top: 85px;
    padding-bottom: 85px;
}

.box-about > h2 {
    margin-bottom: 65px;
}

/* images */
.aside {
    background: #020509;
    padding: 82px 0;
}

.flex-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* how */
.img {
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 5px;
}

.btn {
    text-align: center;
    padding: 69px 0;
}

/* footer */
.footer {
    background: #020509;
    padding: 40px 0;
}

.footer-text {
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.content-how {
    flex-grow: 1;
}

@media screen and (max-width: 1300px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }

    .header {
        padding: 35px 0;
    }

    .list li:nth-child(2) {
        display: none;
    }

    .aside {
        padding: 75px 0;
    }

    .footer {
        padding: 35px 0;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 900px;
    }

    .header {
        padding: 30px 0;
    }

    .list li:nth-child(3) {
        display: none;
    }

    .flex-images img:nth-child(5){
        display: none;
    }

    .aside {
        padding: 70px 0;
    }

    .footer {
        padding: 30px 0;
    }
/* font-size */
    .fz-16 {
        font-size: 18px;
    }
    
    .fz-18 {
        font-size: 20px;
    }
    
    .fz-32 {
        font-size: 34px;
    }
    
    .fz-48 {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 650px;
    }

    .flex-images img:nth-child(4){
        display: none;
    }
    
    .list li:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .container {
        max-width: 500px;
    }

    .flex-images {
        justify-content: space-around;
    }

    .list li:last-child {
        display: none;
    }
}
